"$schema" = 'https://starship.rs/config-schema.json'

# Global performance tweaks – always at the top
scan_timeout = 10
command_timeout = 100

format = """
[░▒▓](#a3aed2)\
$os\
$username\
[](bg:#769ff0 fg:#a3aed2)\
$directory\
[](fg:#769ff0 bg:#394260)\
$git_branch\
$git_status\
[](fg:#394260 bg:#212736)\
$nodejs\
$rust\
$golang\
$php\
[](fg:#212736 bg:#1d2230)\
$fill\
[](fg:#1d2230)[  $time ](bg:#0d2230 fg:#a0a9cb)[ ](fg:#1d2230)\
\n$character"""

# This creates the empty space that pushes time to the right
[fill]
symbol = " "
style = "bg:none"

[directory]
style = "fg:#e3e5e5 bg:#769ff0"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:#394260"
format = '[[ $symbol $branch ](fg:#769ff0 bg:#394260)]($style)'

[git_status]
style = "bg:#394260"
format = '[[($all_status$ahead_behind )](fg:#769ff0 bg:#394260)]($style)'

[nodejs]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[rust]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[golang]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[php]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#1d2230"
format = '[[  $time ](fg:#a0a9cb bg:#1d2230)]($style)'

[os]
disabled = false
style = "bg:#a3aed2 fg:#090c0c"
format = '[ $symbol ]($style)'

[os.symbols]
Windows = ""
Ubuntu = ""
Debian = ""
Raspbian = "dh"
Mint = ""
Macos = ""
Manjaro = ""
Linux = ""
Alpine = ""
Arch = ""
Amazon = ""
Android = ""
FreeBSD = ""

[username]
show_always = true
style_user = "fg:#090c0c bg:#a3aed2"
style_root = "fg:#ff0000 bg:#a3aed2"
format = '[$user ](bg:#a4aed2)'